{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="x-ua-compatible" content="ie=7" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <meta name="keywords" content="动画制作、少儿数字出版、数字出版、动画代工、动画软件、动画IP、少儿动画培训、Steam课程、教师课件、动画课件">
  <meta name="description" content="云众是全球领先的互联网动画云引擎技术提供商，首次实现让普通人几分钟就能做出准专业级动画片。作为全球唯一的动画制作开放平台，聚合了大量动漫公司和作者的海量素材资源，同时拥有专业版和移动版两大产品系列，为教育、出版机构提供IP化数字出版解决方案，更开创了少儿动画培训这一致力于提升少儿创意与表达能力的素质教育新品类">
  <title>云众 - 三分钟做部动画片！</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/wenwang.css' %}">
  <link rel="shortcut icon" href="http://7xpp5g.com2.z0.glb.qiniucdn.com/o_1bo76b2ca1sq21iik11pf1pvb15gp7.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-3.4.2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}">
</head>
<body>

  <!--头部  -->
  <div class="header">
    <div class="inner">
      <div class="logo">
{#        <img src="{% static 'imgs/logo.png' %}" alt="">#}
      </div>
      <ul>
        <li><a href="{% url 'index' %}">首页</a></li>
        <li><a href="{% url 'anime' %}">动漫</a></li>
        <li><a href="{% url 'ps' %}">家长监护</a></li>
        <li><a href="{% url 'dr' %}">纠纷处理</a></li>
{#        <li><a href="/login.html">登录</a></li>#}
{#        <li><a href="/reg.html">注册</a></li>#}
      </ul>
    </div>
  </div>


  <div class="mask-pic">
    <div class="show-pic">
        <div class="close_btn">X</div>
        <div class="show1">
          <img src="" alt="">
        </div>
      </div>
  </div>

  <div class="donghua">
    <div class="title">表情包</div>
    <div class="donghua-item item-btn-1">
      <div>
        <img src="{% static 'imgs/donghua2/1.png' %}" alt="">
      </div>
      <div>小猫猫(点击下载)</div>
    </div>

    <div class="donghua-item item-btn-1">
      <div>
        <img src="{% static 'imgs/donghua2/02.gif' %}" alt="">
      </div>
      <div>默默兔(点击下载)</div>
    </div>

    <div class="donghua-item item-btn-1">
      <div>
        <img src="{% static 'imgs/donghua2/4.png' %}" alt="">
      </div>
      <div>大嘴羊(点击下载)</div>
    </div>

    <div class="donghua-item item-btn-1">
      <div>
        <img src="{% static 'imgs/donghua2/4.gif' %}" alt="">
      </div>
      <div>毛毛兔(点击下载)</div>
    </div>

    <div class="donghua-item item-btn-1">
      <div>
        <img src="{% static 'imgs/donghua2/2.gif' %}" alt="">
      </div>
      <div>毛毛猪(点击下载)</div>
    </div>

    <div class="donghua-item item-btn-1">
      <div>
        <img src="{% static 'imgs/donghua2/6.gif' %}" alt="">
      </div>
      <div>壮壮猴(点击下载)</div>
    </div>

  </div>

  <div class="donghua">
    <div class="title">漫画</div>
    <div class="donghua-item item-btn ">
      <div>
        <img src="{% static 'imgs/donghua/1.png' %}" alt="">
      </div>
      <div>不要随便喊阿姨</div>
    </div>

    <div class="donghua-item item-btn">
      <div>
        <img src="{% static 'imgs/donghua/2.jpg' %}" alt="">
      </div>
      <div>老婆喊你回家吃饭</div>
    </div>

    <div class="donghua-item item-btn">
      <div>
        <img src="{% static 'imgs/donghua/3.png' %}" alt="">
      </div>
      <div>那些常识，你才知道</div>
    </div>

    <div class="donghua-item item-btn">
      <div>
        <img src="{% static 'imgs/donghua/4.jpg' %}" alt="">
      </div>
      <div>千万不要把花生扔厕所</div>
    </div>

    <div class="donghua-item item-btn">
      <div>
        <img src="{% static 'imgs/donghua/5.png' %}" alt="">
      </div>
      <div>沙僧的担子里挑的啥</div>
    </div>

    <div class="donghua-item item-btn">
      <div>
        <img src="{% static 'imgs/donghua/6.png' %}" alt="">
      </div>
      <div>身边的低头族</div>
    </div>

    <div class="donghua-item item-btn">
      <div>
        <img src="{% static 'imgs/donghua/7.png' %}" alt="">
      </div>
      <div>一屋不扫何以扫天下</div>
    </div>

    <div class="donghua-item item-btn">
      <div>
        <img src="{% static 'imgs/donghua/8.png' %}" alt="">
      </div>
      <div>有个吃不胖的朋友</div>
    </div>

    <div class="donghua-item item-btn">
      <div>
        <img src="{% static 'imgs/donghua/9.png' %}" alt="">
      </div>
      <div>遇到碰瓷儿怎么办</div>
    </div>

  </div>

   <div class=footer style="color:#fff;height:100px;">
      <div class="tips1">健康游戏忠告：抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防上当受骗，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活</div>
      <div class="tips2">xxxxxx有限公司 &nbsp &nbsp 电话：xxxxxxx &nbsp &nbsp  地址 xxxxxxx &nbsp &nbsp ©2019&nbsp苏ICP备18066592号</div>
  </div>

</body>
<script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
<script>
  var picList = [
    'https://cdn-image-sns.piyingke.com/3c9cd39f15a6898c3e96549aef19ae5f_533_6767_.jpeg',
    'https://cdn-image-sns.piyingke.com/54d8815767d3097978d7dcb8fe292f4d_533_6767_.jpeg',
    'https://cdn-image-sns.piyingke.com/7380ac589fc335902ac6b7a1eb00095f_533_6767_.jpeg',
    'https://cdn-image-sns.piyingke.com/641f95d82e9523e7f4b424f4b99c523d_533_6767_.jpeg',
    'https://cdn-image-sns.piyingke.com/e39255fa153ced849bcbc5531c077804_533_6767_.jpeg',
    'https://cdn-image-sns.piyingke.com/ae125a09aa73c6ea6386cd892cf44324_533_6767_.jpeg',
    'https://cdn-image-sns.piyingke.com/455fc7864940600acc093d25e8991821_533_4712_.jpeg',
    'https://cdn-image-sns.piyingke.com/d1d924d4febbbc90fa1e9a03095451ed_533_3831_.jpeg',
    'https://cdn-image-sns.piyingke.com/5881c0c09710fa1413200cfb22614978_533_6767_.jpeg'
  ]

  var picList1 = [
    'http://cdn.s3.piyingke.net/web/zip/1.zip',
    'http://cdn.s3.piyingke.net/web/zip/13.zip',
    'http://cdn.s3.piyingke.net/web/zip/8.zip',
    'http://cdn.s3.piyingke.net/web/zip/9.zip',
    'http://cdn.s3.piyingke.net/web/zip/12.zip',
    'http://cdn.s3.piyingke.net/web/zip/11.zip',

  ]

  $('.item-btn').click(function(){
    var _index = $(this).index() - 1
    $('.mask-pic').show()
    $('.show1 img').attr('src', '')
    $('.show1 img').attr('src', picList[_index])
  })

  $('.item-btn-1').click(function(){
    var _index = $(this).index() - 1
    window.location.href = picList1[_index]
  })
  $('.close_btn').click(function(){
    $('.mask-pic').hide()
  })
  $('#reg').click(function(){
    window.location.href = './reg.html'
  })
  $('#login').click(function(){
    window.location.href = './login.html'
  })
  $('#btn').click(function(){
   window.open("http://pro.piyingke.com/")
  })
</script>
</html>